---
import '../../src/styles/globals.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
<main class="flex flex-col w-full max-w-5xl mx-auto grow py-12">
<div class="mx-auto px-4 sm:px-6 lg:px-8 justify-center items-center">
<p>
  Pivotal Distrubtion.
</p>
<div class="feedback-form flex flex-col  justify-center items-center">
<form id="form"  action="https://api.web3forms.com/submit" method="POST">
 <input type="hidden" name="access_key" value="226d0972-a38b-402f-937a-360a449bb4a9" />
  <label>First Name</label>
  <input type="text" name="name" placeholder="First name" required />

  <label>Email</label>
  <input type="email" name="email" inputmode="email" placeholder="Email Address" required />

  <label>Message</label>
  <textarea name="message" rows="4" placeholder="Message" required></textarea>

  <button type="submit">Send Message</button>
</form>
</div>
<div class="flex flex-col justify-center items-center">
<p>We'll get back to you as soon as possible.</p> 
</div>
</main>
</Layout>
<style>

      main {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
  .feedback-form {
    margin: 40px 140px;
    min-width: 250px;
    width: 45%;
  }

  @media only screen and (max-width: 768px) {
  .feedback-form {
    margin: 20px auto; /* Center the form horizontally */
    min-width: 100%; /* Allow full width on smaller screens */
    width: auto; 
    max-width: 100%; /* Prevent horizontal scrolling on smaller screens */
  }
   button {
    width: 100%; /* Make button full width on mobile */
  }
}
  label {
    font-size: 16px;
  }
  input,
  textarea,
  button {
    border-radius: 5px;
    border: 1px solid #cbd5e1;
    font-size: inherit;
    margin: 15px 0;
    padding: 12px 20px;
    width: 100%;
  }
  button {
    background-color: #BD9855;
    border: 1px solid #BD9855;
    color: #1e293b;
    font-size: 16px;
    width: 50%;
  }
  button:hover {
    background-color: #1e293b;
    border: 2px inset #1e293b;
    color: #BD9855;
  } 
  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>