---
import '../../src/styles/globals.css';
---   
   
   <footer class="w-full bg-gray-900 text-gray-400 py-6 rounded-md ">
        <div class="max-w-24xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between">
          <p>© 2023 Pivotal Wine . All rights reserved.</p>
          <nav class="flex items-center space-x-4">
            <a class="hover:text-gray-50" href="/privacy">
              Privacy Policy
            </a>
            <a class="hover:text-gray-50" href="/terms">
              Terms of Service
            </a>
          </nav>
        </div>
      </footer>