---
import Logo from '../components/Logo.astro';

---
   <header class="bg-gray-900 shadow  rounded-sm">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex items-center justify-between">
          <div class="flex items-center">
            <a href="/">
             <Logo />
            </a>
            <h1 class="ml-3 text-2xl text-[#BD9855] font-bold">Pivotal </h1>
          </div>
          <nav class="hidden md:flex items-center space-x-4">
            <a
              class="text-white hover:text-gray-900 text-gray-400 hover:text-gray-50"
              href="#"
            ></a>
            <a
              class="text-white hover:text-white-700 "
              href="/"
            >
              Home
            </a>
            <a
              class="text-white hover:text-white-700"
              href="/about"
            >
              About
            </a>
            <a
              class="text-white hover:text-white-700"
              href="/contact"
            >
              Contact
            </a>
          
          </nav>
        </div>
      </header>